@inherits LayoutComponentBase

<Toasts class="p-3" AutoHide="true" StackLength="3" Placement="ToastsPlacement.TopRight" />

<!-- Barra de navegación (Navbar) con imagen de fondo -->
<div class="navbar-container" id="navbar-container">
    <div class="navbar navbar-expand-lg fixed-top custom-navbar" id="NavigationBar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-family: 'Poppins', sans-serif; font-size: 1.8rem; color: var(--accent-color);">
                DriverChoice
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-color: var(--accent-color);"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door" aria-hidden="true"></span> Inicio
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/vehiculos">
                            <span class="bi bi-car-front" aria-hidden="true"></span> Vehículos
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/clientes">
                            <span class="bi bi-person" aria-hidden="true"></span> Clientes
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Contenido principal -->
<main class="p-4 bg-white">
    <article class="content">
        @Body
    </article>
</main>


<!-- Error UI -->
<div id="blazor-error-ui" style="background-color: var(--secondary-color);">
    An unhandled error has occurred.
    <a href="" class="reload" style="color: white; font-weight: bold; text-decoration: underline;">Reload</a>
    <a class="dismiss" style="color: white;">🗙</a>
</div>

<script>
    window.addEventListener('scroll', function () {
        const navbar = document.querySelector('.custom-navbar');
        if (window.scrollY > 50) {
            navbar.classList.add('navbar-scrolled');
        } else {
            navbar.classList.remove('navbar-scrolled');
        }
    });
</script>
