@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmación de olvido de contraseña</PageTitle>

<h1>Confirmación de olvido de contraseña</h1>
<p>
    Por favor revisa tu correo electrónico para restablecer tu contraseña.
</p>
